CONFIG_INPUT_TOUCHSCREEN_TCLM=y
# CONFIG_INPUT_TOUCHSCREEN_TCLMV2 is not set
CONFIG_TOUCHSCREEN_SEC_TS=y
# CONFIG_TOUCHSCREEN_SEC_TS_Y771 is not set
# CONFIG_INPUT_WACOM is not set
# CONFIG_EPEN_WACOM_W9018 is not set
# CONFIG_WIRELESS_FIRMWARE_65 is not set
# CONFIG_SENSORS_SSP_AK09918 is not set
# CONFIG_SENSORS_SSP_LIGHT_MAX_GAIN_2BYTE is not set
CONFIG_SENSORS_SSP_STAR=y
# CONFIG_SENSORS_SSP_CROWN is not set
# CONFIG_SELF_MOVE_3PX is not set
# CONFIG_CAMERA_CROWN is not set